<h1> All Entries </h1>
<ul>
<% @journal_entries.each do |journal| %>
  <%= link_to journal.title, journal_entry_path(journal) %><br>
  <%= journal.description %> <br>
  <%= journal.created_at %> <br>
  <%= link_to 'Destroy', journal, method: :delete, id: "journal-#{journal.id}-destroy" %><br>
  <br>
<% end %>
</ul>
<%= link_to 'New Post', new_journal_entry_path %>
